body{
    margin: 0;
    background: black;
    color: white;
}

*{
    outline: none;
}


.data{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 2vh;

}

.constant{
    font-weight: bolder;
    background: grey;
    color: white;
    padding: 0.5em;
    border-radius: 0.4rem;
    font-size: 0.5em;
}


#typef{
    background: none;
    color: white;
    margin-top: 2vmax;
    border-radius: 1em;
    padding: 0.3em;

}

#typef:focus{
    color: rgb(42, 170, 33);

}
	

#editor{
    float:left;
    width:50%;
    height: 90vh;
    border: 1.5px solid rgb(226, 224, 224);
}
#output{
    float:left;
    width:50%;
    height: 90vh;
    border: 1.5px solid rgb(210, 207, 207);
    padding: 0.3%;
    overflow: scroll;

}

textarea{
    height: 90vh;
    width: 99%;
    background: #08525e7d;
    color : white;
    resize: none;
    outline: none;
    font-family: Consolas,monaco,monospace;
    overflow-y: scroll;
    overflow-x: scroll;
}

#main{
    display: flex;
    flex-direction: row;
}   

#canvas{
    margin: 0;
    width: 98%;
    margin: auto;
    /* background: yellow; */
}

.hidden{
    display:none;
    /* visibility: hidden; */
}

#buttons{
    width: 100%;
    height: fit-content;
    background: #0d1721;
    margin-bottom: 1vh;
    padding: 1em;
    box-sizing: border-box;


}

.btn{
    background: #04AA6D;
    color: black;
    border: none;
    border-radius: 2vmax;
    color: white;
    font-weight: bold;
    /* padding: 1em; */
    width: 8vw;
    height: 4vh;
    margin: 0 2vw;
    font-size: 1vmax;
}


.btn:hover{
    opacity: 0.9;
}

.active{
    background: #01754b;
    color: white;

}


#mode{
    background: none;
    border:none;
    color: white;
    filter: invert(1);
    float: right;
}


#appname{
    font-family:cursive ;
    font-size: 1.6vmax;
    color: white;

}

    
#copyBtn{
    border: 2px solid white;
    background: none;
    position: absolute;
    outline: none;
    border-radius: 3em;
    color: white;
    padding: 0.3rem 0.8rem;
    width: fit-content;
    margin-top: 0.4vh;
    


}


#copyDiv{
    color: white;
    width: 96%;
    display: flex;
    justify-content:flex-end ;
}

#copyBtn:hover{
    opacity: 0.8;

}

#slider{
    position: fixed;
    display: inline;
    width: 25%;
    height: 91.5vh;
    background: #0d1721;
    margin: 0;
    transform: translate(-98%, -1.1vh);
   /* display: flex;
   flex-direction: column;
   justify-content: center; */
    transition: all 0.35s ease-in-out;
}

#slideBtn{
    position:relative;
    top: 15%;
    left: 96%;
    padding: 10px 14px;
    border: none;
    border-radius: 100vmax;
    margin: auto;
    color: white;
    font-weight: bolder;
    font-size: large;
    background: #04AA6D;
    transition: all 0.25s ease-in-out;
}

#slideContent{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40%;
}

#slideContent label{
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5%;
}

#projname{
    width: 80%;
    display: block;
    background: none;
    box-shadow: 0 0 1px 3px lightskyblue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 2px;
    text-align: center;
}

#saveProj{

    margin-top: 5%;
    color: white;
    background: #04AA6D;
    padding: 5px;
    border-radius: 2px;

}

@media(max-width:700px){
    #main{
        /* background: yellow; */
        width: 98%;
        display: flex;
        flex-direction: column-reverse;
    }

    #editor{
        margin: 2%;
        width: 96%;
    }

    #slider{
        width: 40vw;
    }

    #output{
        margin: 2%;
        width: 96%;;
    }

    #buttons{
        position: sticky;
        top: 0;
    }
    
}


/*index.html*/
.navbar{
	background-color: #0d1721;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(150,150,150,0.7);
	height: fit-content;
	width: 95%;
	float: left;
	padding-left: 5vh;
	padding-right: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.container {
      height: 88vh;
      width: 100%;
    	display: flex;
    	justify-content:flex-start;
    	flex-direction:row;
    	flex-flow: row wrap;
      /*background: linear-gradient(to bottom right, #005566, #0d1721, #0d1721 , #06202d, #004f80);*/
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
}

#back{
	z-index: -1;
	top: -10vh;
	position: fixed;
	height: 110%;
	width: 100%;
	filter:blur(8px);
}

#head{
	color: #f0f0f0;
   font-family: 'Roboto', sans-serif;
   font-weight: 1000;
   float:left;
}

.link{
	float: right;
	color: #f0f0f0;
	text-decoration: none;
}

#usermenu{
	width: 20vh;	
	display: flex;
	justify-content: space-between;
}

.row1{
	flex-basis: 50%;
}
#text{
	padding: 15vh;
	color: #f0f0f0;
   font-family: 'Roboto', sans-serif;
   font-weight: 1000;
   float:left;
}

#mascot{
	width: 70vh;
	height: 70vh;
}



#divopen{
	margin-top: -20vh;
	display: flex;
	justify-content: center;
	flex-basis: 100%;
}

#open {

	align-self: center;
	width: 50vh;
	height: 10vh;
	border-color: rgba(155,155,155);
	border-width: 2vh;
	border-radius: 25vh;
	font-size: 5vh;
	font-family: 'Roboto', sans-serif;
	background-color: #0c3049;
	color: #f0f0f0;
	display: block;
}